<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete Task'; else elseTemplate">
    <input placeholder="{{action}} Description" matInput [(ngModel)]="localData.description">
  </mat-form-field>

  <mat-form-field *ngIf="action == 'Add Task'">
    <input placeholder="{{action}} Assignee Id" matInput [(ngModel)]="localData.assignee">
  </mat-form-field>

  <mat-form-field *ngIf="action == 'Edit Task'">
    <input placeholder="{{action}} Assignee Id" matInput [(ngModel)]="localData.assignee.id">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete Task'">
    <input placeholder="{{action}} Due Date" matInput [(ngModel)]="localData.dueDate">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete Task'">
    <input placeholder="{{action}} Is Completed" matInput [(ngModel)]="localData.isCompleted">
  </mat-form-field>

  <ng-template #elseTemplate>
    Confirm delete of <b>{{localData.description}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-flat-button color="green">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
