.mat-id-column {
  width: 100%;
  min-height: 20px;
  width: 60px;
  padding: 0px 0px 0px 4px;
  text-align: left;
}

.mat-description-column {
  width: 100%;
  min-height: 20px;
  width: 130px;
  padding: 0px 0px 0px 4px;
  text-align: left;
}

.mat-assignee-column {
  width: 100%;
  min-height: 20px;
  width: 70px;
  padding: 0px 0px 0px 4px;
  text-align: center;
}

.mat-due-date-column {
  width: 100%;
  min-height: 20px;
  width: 85px;
  padding: 0px 0px 0px 4px;
  text-align: center;
}

.mat-is-complete-column {
  width: 100%;
  min-height: 20px;
  width: 100px;
  padding: 0px 0px 0px 4px;
  text-align: center;
}

.mat-action-column {
  width: 100%;
  min-height: 20px;
  width: 100px;
  padding: 0px 0px 0px 4px;
  text-align: right;
  text-decoration-color: blue;
}

